* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: #0D1116;
    color: #fff;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    padding: 0rem 2rem;
    z-index: 1;
}

.icon {
    padding: 1.5rem 2rem;
    border-radius: 50%;
    background: url("./img/logo_nav.png");
    background-position: center;
    background-size: cover;
}

.menu ul {
    list-style: none;
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 5rem;
    gap: 1.5rem;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
}

header {
    width: 100%;
    height: 120vh;
    background: url("./img/banner_bg.png") rgba(13, 17, 22, 0.7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: #fff;
}

.header-container {
    padding-top: 56vh;
    padding-left: 10%;
    display: flex;
    gap: 4rem;
}

.profile-photo {
    margin: 2rem 0;
    background: url("./img/photo.png") rgba(13, 17, 22, 0.7);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.main-info {
    font-family: "Montserrat", serif;
    padding: 2rem 0;
}

.main-info h1 {
    padding: 2rem 0;
    font-size: 48px;
}

.main-info ul {
    list-style: none;
    font-size: 36px;
    display: flex;
    gap: 1rem;
}

.main-info ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

/*Style section projects*/
.projects {
    padding: 5rem;
    height: 140vh;
    background-color: #F7F2EC;
}

.projects h2 {
    font-size: 40px;
    text-align: center;
    font-family: "Roboto", serif;
    padding-bottom: 5rem;
}

.container {
    display: flex;
    width: 100%;
    height: 90%;
    gap: 5%;
}

.column {
    width: 50%;
    height: 100%;

}

.row {
    height: 35%;
}

.project-card {
    display: flex;
    height: 70%;
}

.project-info {
    width: 50%;
    padding-top: 1.5rem;
}

.project-info h3 {
    font-family: "Roboto", serif;
    font-size: 24px;
    color: #D78C50;
}

.project-info p {
    font-family: "Roboto", serif;
}

.info-left {
    text-align: right;
    margin-right: 1rem;
}

.info-right {
    margin-left: 1rem;
}

.used-tools ul {
    display: flex;
}

.used-tools ul li {
    list-style: none;
    font-size: 28px;
    color: #0F213C;
    padding: 0.5rem 0.5rem;
}

.used-tools ul li a {
    text-decoration: none;
    color: #0F213C;
}

.tools-left ul {
    justify-content: right;
}

.project-image {
    width: 60%;
    height: 85%;
    border-radius: 10px;
}

.project-image a {
    display: block;
    width: 100%;
    height: 100%;
}

.image-1 {
    background: url("./img/img-project-tiramisu.png");
    background-position: center;
    background-size: cover;
}

.image-2 {
    background: url("./img/img-project-paleta.png");
    background-position: center;
    background-size: cover;
}

.image-3 {
    background: url("./img/img-project-wiobl.png");
    background-position: center;
    background-size: cover;
}

.image-4 {
    background: url("./img/img-project-wordle.png");
    background-position: center;
    background-size: cover;
}

.image-5 {
    background: url("./img/img-project-neutral.png");
    background-position: center;
    background-size: cover;
}

.image-6 {
    background: url("./img/img-project-fruits.png");
    background-position: center;
    background-size: cover;
}

.about-us {
    width: 100vw;
    height: 110vh;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    gap: 5vw;
    padding: 20vh 10vw;
}

.left h2 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 44px;
    padding-top: 10vh;
}

.line-about {
    background-color: #D78C50;
    height: 4px;
    width: 120px;
    margin: 30px 0px;
}

.left p {
    padding-top: 20px;
    color: #535E69;
    line-height: 30px;
    font-size: 20px;
    font-weight: 350;
}

.image-7 {
    position: relative;
    left: 80px;
    width: 30vw;
    height: 30vw;
    background: url(img/about_me2.png) rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 20px;
    border: solid 8px white;
}

.image-8 {
    position: relative;
    top: -10vw;
    width: 20vw;
    height: 20vw;
    background: url(img/about_me.png) rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 20px;
    border: solid 8px white;
}

.rigth {
    width: 40vw;
}

.left {
    width: 40vw;
}

.links-about {
    display: flex;
    padding-top: 40px;
    gap: 30px;
}

.icon-link-1 {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.icon-link-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-coffee {
    width: 50px;
    height: 50px;
}

.icon-chocolate {
    width: 60px;
    height: 60px;
}

.links-about h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #D78C50;
}

.gallery {
    width: 100%;
    height: 145vh;
    background-color: #f3f3f6;
}

.gallery h2 {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    font-size: 46px;
}

.gallery-down,
.gallery-up {
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 5px;
}

.gallery-up {
    margin-bottom: 5px;
}

.img-gallery-1 {
    background: url(img/gallery1.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
}

.img-gallery-2 {
    background: url(img/gallery5.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 30%;
}

.img-gallery-3 {
    background: url(img/gallery3.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 30%;
}

.img-gallery-4 {
    background: url(img/gallery10.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 30%;
}

.img-gallery-5 {
    background: url(img/gallery11.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 30%;
}

.img-gallery-6 {
    background: url(img/gallery8.png);
    background-position: top;
    background-size: cover;
    height: 100%;
    width: 40%;
}

footer {
    width: 100%;
    height: 42vh;
    background-color: #1A0D01;
    color: #898785;
    padding: 2%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.content-footer {
    display: flex;
    padding-left: 10vw;
    gap: 22%;
}

.logo-footer {
    background: url(img/logo.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.column-footer {
    width: 30%;
}

.social-icons ul {
    padding-top: 33px;
    list-style: none;
    display: flex;
    gap: 38px;
    font-size: 25px;
}

.social-icons ul li a {
    text-decoration: none;
    color: #898785;
}

.footer-phase {
    text-align: center;
    align-self: flex-end;
    padding-bottom: 6%;
}

.column-footer p a {
    text-decoration: none;
    color: #898785;
}

@media (max-width: 991px) { 
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.9);
        padding: 10px;
        border-radius: 10px;
    }
}

@media (max-width: 750px) {
    header {
        height: 100vh;
    }
    .header-container {
        padding-top: 20vh;
        padding-left: 15%;
        display: block;
    }
    .projects {
        padding: 0rem;
        height: 320vh;
    }

    .container {
        display: block;
    }

    .column {
        width: 100%;
        height: 50%;
        margin-bottom: 5%;
    }

    .project-card{
        display: block;
        height: 50%;
    }

    .project-image{
        width: 80%;
        height: 100%;
        margin-left: 10%;
    }

    .project-info{
        width: 90%;
        padding-top: 0;
        padding-left: 5%;
    }

    .project-info p {
        font-size: 12px;
    }

    .info-left {
        text-align: center;
    }
    
    .info-right {
        text-align: center
    }

    .tools-left ul {
        justify-content: center;
    }

    .used-tools ul{
        justify-content: center;
    }

    .used-tools-down-rs  ul li{
        color: aliceblue;
    }

    .column-down{
        padding-top: 15%;
        background-color: #297778;
        color: aliceblue;
    }

    .about-us {
        height: 130vh;
        display: block;
        padding: 0vh 10vw;
    }

    .rigth {
        width: 85vw;
    }
    
    .left {
        width: 85vw;
    }

    .links-about {
        display: block;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
        gap: 30px;
    }

    .image-7{
        left: 80px;
        width: 60vw;
        height: 50vw;
    }

    .image-8{
        top: -20vw;
        width: 44vw;
        height: 40vw;
    }

    .gallery-down, .gallery-up {
    height: 43%;
    display: block;
    }

    .img-gallery-1 {
        height: 33%;
        width: 100%;
    }
    
    .img-gallery-2 {
        height: 33%;
        width: 100%;
    }
    
    .img-gallery-3 {
        height: 33%;
        width: 100%;
    }
    
    .img-gallery-4 {
        height: 33%;
        width: 100%;
    }
    
    .img-gallery-5 {
        height: 33%;
        width: 100%;
    }
    
    .img-gallery-6 {
        height: 33%;
        width: 100%;
    }

    footer {
        height: 72vh;
    }

    .content-footer {
        display: block;
        padding-left: 3vw;
    }

    .column-footer {
        width: 80%;
    }

    .footer-phase {
        text-align: center;
        padding-top: 6%;
    }
}

@media (min-width: 750px) and (max-width: 1600px){
    .projects {
        padding: 5rem;
        height: 260vh;
    }
    .project-info {
        padding-top: 1rem;
    }
    .project-info h3 {
        font-size: 20px;
    }
    .project-info p {
        font-size: 12px;
    }
    .about-us {
        height: 120vh;
        gap: 6vw;
        padding: 15vh 10vw;
    }
    .left h2 {
        padding-top: 8vh;
    }
    .left p {
        font-size: 16px;
    }
    footer {
        height: 55vh;
    }
}